[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_linpath }}/base.hcl

[Service]
Type=notify
ExecStart=/bin/bash -c "{{ consul_binary_linpath }}/consul agent -config-dir={{ consul_config_linpath }}"
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

User={{ consul_user }}
Group={{ consul_user }}

[Install]
WantedBy=multi-user.target